
'scopeName': 'source.wxml'
'name': 'wxml'
'fileTypes': ['wxml']

'patterns': [{
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.wxml'
  },{
    # Second rule
  },{
    # Last rule
  }
]
